/*element.style {
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
head {
    display: none;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}*/
/* Andreza Barbosa*/

/*.form-inline{
	display: block;
	
}
.form-control,.form-control-file{
	
}